/*Put your custom css styles here. This file gets loaded the last*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption);

section.slide p{
   text-align:justify;
   font-size: 20px;
   line-height: 24px;
}
section p, li, li.incremental
article p, li, li.build{
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-size: 24px;
  line-height: 30px;
}

h1 {
  color: #26547c;
}

h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 36px;
  color: #a32638;
}

pre {
  font-family: 'Consolas', 'Ubuntu Mono', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

code {
  /*  color: #9E0508; burgundy*/
  font-family: Consolas, Monaco, 'Ubuntu Mono', sans-serif;
  color: #26547c;
  font-weight: bolder;
}

.rimage.left {
  text-align: left;
}
.rimage.right {
  text-align: right;
}
.rimage.center {
  text-align: center;
}




